.chat-form {
  float: left;
  width: 50%;
  height: 60%;
  margin: 5% 20%;
  background: orange;
  padding: 2.5% 2.5%;

  &>* {
    margin-top: 5%;
  }

  &>ul {
    width: 90%;
    margin-left: 5%;
    background: green;
    min-height: 20%;
    max-height: 40%;
  }

  &>ul>li {
    display: inline-block;
    width: fit-content;
    max-width: 45%;
    padding: 0 5%;
    height: 3.5vh;
    font-size: 3vh;
    background: pink;
    border-radius: 3px;
    border: 2% solid black;
    margin-left: 2.5%;

    p:first-child {
      width: 80%;
      float: left;
    }
    p:last-child {
      float: right;
      width: 10%;
    }
  }

  textarea {
    width: 90%;
    height: 30%;
    margin-left: 5%;
    border-radius: 3px;
    border: none;
  }
  button {
    width: 90%;
    height: 10%;
    margin-left: 5%;
    border: none;
    border-radius: 3px;
  }
}
