.auto-comp {
  float: left;
  width: 90%;
  height: 10%;
  position: relative;
  background: blue;
  margin-left: 5%;

  input {
    width: 90%;
    background: white;
    padding: 0 5%;
    height: 100%;
    font-size: 2.5vh;
    border: none;
    border-radius: 3px;
  }

  ul {
    width: 100%;
    height: auto;
    max-height: 600%;
    background: white;
    position: absolute;
    overflow-y: scroll;
  }

  ul>li {
    float: left;
    height: 100%;
    width: 90%;
    background: white;
    padding: 2.5% 5%;
    transition: 350ms all;

    p {
      float: left;;
      height: 100%;
      font-size: 2.5vh;
      width: 100%;

      span {
        float: right;
        color: white;
        margin-right: 5%;
      }
    }

    &:hover {
      background: black;
      cursor: pointer;
      p {
        color: white;
      }
    }
  }

}
